/* Projet 1 Checkbox */
/* Bien respecter la position du label dans le html */
input[type="checkbox"] {
    margin: 20px auto;
    display: none; /* on cache l'input */
}
/* on stylise le label pour le fond */
label {
    display: block;
    margin: 20px auto;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: rgb(202, 223, 226);
    border-radius: 25px;
    transition: all ease-out 400ms;
}
/* on creer le rond */
label::after {
    content: "";
    display: block;
    position: relative;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(141, 172, 175);
    transition: all ease-out 400ms;
}
/* on creer l'animation */
input:checked + label {
    background-color: rgb(150, 239, 184);
}
input:checked + label::after {
    transform: translate(50px, 0);
    background-color: rgb(29, 105, 52);
}
/* Projet 2 Animation SVG*/
svg {
    width: 200px;
    height: 200px;
    transform: translateX(-50px);
    filter: drop-shadow(100px 0 #00ccff);
}
.animation-svg {
    background: radial-gradient(circle at bottom, #9fb8d1 0%, #0c1753 100%);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
circle {
    fill: none;
    stroke: #fff;
    stroke-width: 10px;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 70;
    animation: rotation 2000ms ease-in-out alternate infinite;
}
@keyframes rotation {
    from {
        stroke-dasharray: 100 100;
        stroke-dashoffset: 70;
    }
    to {
        stroke-dasharray: 20 20;
        stroke-dashoffset: -600;
    }
}
/* Projet 3 Carte tournante */
.body-carte {
    background: radial-gradient(circle at bottom, #cfd19f 0%, #530c48 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
}
.carte {
    cursor: pointer;
    width: 400px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.devant,
.derriere {
    width: 100%;
    height: 100%;
    /* indique la visibilité de la face */
    backface-visibility: hidden;
    position: absolute;
    transition: transform 500ms linear;
}
.devant img {
    width: 100%;
    height: 100%;
}
.devant {
    transform: perspective(600px) rotateY(0deg);
}
.derriere {
    background-color: #fff;
    transform: perspective(600px) rotateY(180deg);
}
.contenu {
    color: #2c3e50;
    text-align: center;
    width: 100%;
    margin-top: 250px;
}
.carte:hover .devant {
    transform: perspective(600px) rotateY(-180deg);
}
.carte:hover .derriere {
    transform: perspective(600px) rotateY(0deg);
}
/* Projet 4 Animation 4 points */
.card-dots {
    height: 10vh;
}
.conteneur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 142px;
    height: 40px;
    background: rgb(255, 255, 255);
    filter: contrast(20);
}
.conteneur .dot {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    animation: point 2800ms infinite;
}
.conteneur .dots span {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
}
.conteneur .dots {
    margin-top: 12px;
    margin-left: 31px;
    animation: points 2800ms infinite;
}
@keyframes point {
    50% {
        transform: translateX(100px);
    }
}
@keyframes points {
    50% {
        transform: translateX(-35px);
    }
}
